.header{
    text-align: center;
}

.logoStyle{
    width:300px;
    
}

nav{
background-color: black;
line-height: 40px;
}
nav a{
    text-decoration: none;
    color:white;
    margin-right: 40px;
    padding:5px;
    font-size: 24px;
}

nav a:hover{
    background-color:lightGray;
}